<div class="container">

  <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
    <div class="col mb-3">
      <a routerLink="/home" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
        <img src="../../../assets/img/logo/CustomShoes.png" alt="CustomShoes Logo" class="logo-footer">
      </a>
      <p class="text-light">© 2024</p>
      <p>Credit: <a class="text-info" routerLink="">Mauro Cassoni</a></p>
    </div>

    <div class="col mb-3">

    </div>

    <div class="col mb-3">
      <h5 class="text-secondary">Section</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a routerLink="/home" class="nav-link p-0 text-light ">Home</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light ">Features</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light ">Pricing</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light ">FAQs</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light ">About</a></li>
      </ul>
    </div>

    <div class="col mb-3">
      <h5 class="text-secondary">Social</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light "><i class="bi bi-instagram"></i> CustomShoes</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light "><i class="bi bi-threads-fill"></i> CustomShoes</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light "><i class="bi bi-facebook"></i> CustomShoes</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light "><i class="bi bi-twitter-x"></i> CustomShoes</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light "><i class="bi bi-tiktok"></i> CustomShoes</a></li>
      </ul>
    </div>

    <div class="col mb-3">
      <h5 class="text-secondary">Download</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light "><i class="bi bi-google-play btn btn-outline-light px-5"></i></a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light "><i class="bi bi-apple btn btn-outline-light px-5"></i></a></li>
      </ul>
    </div>
  </footer>

</div>
