<div class="container p-4">

  <h2 class="text-center py-3">{{product.name}}</h2>

  <div class="row gap-4 justify-content-center">

    <div class="col-12 col-md-5">
      <div class="product-image rounded border border-5 border-info" [ngStyle]="{'background-image': 'url(' + product.img + ')'}"></div>
    </div>

    <div class="col-12 col-md-5 col-lg-3">
      <div class="row gap-4" >
        <div class="col-12 p-3 card bg-info">
          <h5 class="price text-secondary fw-bold" *ngIf="user.user.userType != 'BUSINESS'">
            {{product.price | number:'1.2-2' }}€</h5>
          <h5 class="price text-secondary fw-bold" *ngIf="user.user.userType == 'BUSINESS'">
            {{ (product.price * 0.78) | number:'1.2-2' }}€</h5>
          <div class="text-primary">Generally shipped within 5/7 working days.</div>
          <div class="shipping">Free shipping</div>
          <button (click)="addToCart($event, product.id)" class="btn btn-secondary mt-3">Add to cart</button>
        </div>

        <div class="col-12 p-3 card bg-info">
          <div class="">
            <h5>Details</h5>
            <ul>
              <li><span class="text-primary">Brand: </span>{{product.brand}}</li>
              <li><span class="text-primary">Category: </span>{{product.category}}</li>
              <li><span class="text-primary">Color: </span>{{product.color}}</li>
              <li *ngIf="product.size"><span class="text-primary">Size: </span>{{product.size}}</li>
            </ul>
          </div>
          <div class="">
            <h5>Description</h5>
            <p>{{product.description}}</p>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
