<div class="container py-3">
  <div>
    <form [formGroup]="form" (ngSubmit)="submit()">

      <h2 class="text-center my-3">Edit <span class="pink">{{product.name}}</span></h2>

      <!-- Img -->
      <div class="col my-3">
        <p for="img">Image *</p>
        <img *ngIf="product.img" id="img" class="my-2 rounded" [src]="product.img" alt="product image" >
        <img *ngIf="!product.img" id="img" class="my-2 rounded" src="../../../../assets/img/logo/CustomShoes.png" alt="placeholder image" >
        <input type="file" id="img" (change)="onFileSelected($event)" class="form-control">
        <button type="button" class="btn btn-secondary mt-2" (click)="setImg()">Upload image</button>
      </div>

      <!-- Name -->
      <div class="col-md-8">
        <label for="name">Name *</label>
        <input type="text" id="name" class="form-control" formControlName="name"
          [ngClass]="{'is-valid': isValid('name'), 'is-invalid': isInvalid('name')}">
        <div class="error-msg">
          <span *ngIf="form.controls['name'].dirty"
            [ngClass]="{ 'valid': isValid('name'), 'invalid': isInvalid('name') }"
            class="ms-1 text-danger">{{msg.name}}</span>
        </div>
      </div>

      <!-- Brand -->
      <div class="col-md-8">
        <label for="name">Brand</label>
        <input type="text" id="brand" class="form-control" formControlName="brand"
          [ngClass]="{'is-valid': isValid('brand'), 'is-invalid': isInvalid('brand')}">
        <div class="error-msg">
          <span *ngIf="form.controls['brand'].dirty"
            [ngClass]="{ 'valid': isValid('brand'), 'invalid': isInvalid('brand') }"
            class="ms-1 text-danger">{{msg.brand}}</span>
        </div>
      </div>

      <!-- Category -->
      <div class="col-md-8">
        <label for="category">Category *</label>
        <input type="text" id="category" class="form-control" formControlName="category"
          [ngClass]="{'is-valid': isValid('category'), 'is-invalid': isInvalid('category')}">
        <div class="error-msg">
          <span *ngIf="form.controls['category'].dirty"
            [ngClass]="{ 'valid': isValid('category'), 'invalid': isInvalid('category') }"
            class="ms-1 text-danger">{{ msg.category }}</span>
        </div>
      </div>

      <!-- Size -->
      <div class="col-md-8">
        <label for="name">Size</label>
        <input type="text" id="size" class="form-control" formControlName="size"
          [ngClass]="{'is-valid': isValid('size'), 'is-invalid': isInvalid('size')}">
        <div class="error-msg">
          <span *ngIf="form.controls['size'].dirty"
            [ngClass]="{ 'valid': isValid('size'), 'invalid': isInvalid('size') }"
            class="ms-1 text-danger">{{msg.size}}</span>
        </div>
      </div>

      <!-- Color -->
      <div class="col-md-8">
        <label for="name">Color</label>
        <input type="text" id="color" class="form-control" formControlName="color"
          [ngClass]="{'is-valid': isValid('color'), 'is-invalid': isInvalid('color')}">
        <div class="error-msg">

          <span *ngIf="form.controls['color'].dirty"
            [ngClass]="{ 'valid': isValid('color'), 'invalid': isInvalid('color') }"
            class="ms-1 text-danger">{{msg.color}}</span>
        </div>
      </div>

      <!-- Price -->
      <div class="col-md-8">
        <label for="name">Price € * (Enter the price including VAT)</label>
        <input type="number" id="price" class="form-control" formControlName="price"
          [ngClass]="{'is-valid': isValid('price'), 'is-invalid': isInvalid('price')}">
        <div class="error-msg">
          <span *ngIf="form.controls['price'].dirty"
            [ngClass]="{ 'valid': isValid('price'), 'invalid': isInvalid('price') }"
            class="ms-1 text-danger">{{msg.price}}</span>
        </div>
      </div>

      <!-- Description -->
      <div class="col-md-8">
        <label for="name">Description *</label>
        <textarea type="info" id="description" class="form-control" formControlName="description"
          [ngClass]="{'is-valid': isValid('description'), 'is-invalid': isInvalid('description')}"></textarea>
        <div class="error-msg">
          <span *ngIf="form.controls['description'].dirty"
            [ngClass]="{ 'valid': isValid('description'), 'invalid': isInvalid('description') }"
            class="ms-1 text-danger">{{msg.description}}</span>
        </div>
      </div>

      <!-- On Sale -->
      <div class="col-md-8">
        <label for="onSale">On Sale?</label>
        <input type="checkbox" id="onSale" class="form-check-input mx-2" formControlName="onSale">
      </div>

      <button [disabled]="!form.valid" class="btn btn-secondary my-3" type="submit">Save</button>

    </form>

    <div class="my-4">
      <span>Do you just want to edit? Go to </span>
      <a type="submit" routerLink="/product">
        Products
      </a>
    </div>

  </div>
</div>
