<div class="container p-3">

  <h2 class="text-center my-3">Wishlist</h2>

  <div *ngIf="wishlist.length === 0">
    <p class="text-white">Your wishlist is empty.</p>
  </div>

  <div class="row justify-content-center gap-3 text-center">
    <div class="col d-flex justify-content-center" *ngFor="let p of wishlist">

      <div class="card bg-info my-3 p-2" style="width: 16rem;" [routerLink]="['/product/detail-product', p.id]">
        <div *ngIf="p.img" class="product-image rounded border border-primary position-relative"
          [ngStyle]="{'background-image': 'url(' + p.img + ')'}">
          <div class="wish position-absolute">
            <i class="bi bi-heart-fill text-secondary" (click)="removeFromWishlist($event, userData.user.id,p.id)"></i>
          </div>
        </div>

        <div class="card-body">
          <h5 class="card-title"><span class="text-primary">Name: </span> <span class="fw-bold">{{p.name}}</span></h5>
        </div>
        <ul class="list-group-flush">
          <li class="list-group-item text-start"><span class="text-primary">Brand: </span> <span>{{p.brand}}</span></li>
          <li class="list-group-item text-start"><span class="text-primary">Category: </span>
            <span>{{p.category}}</span>
          </li>

          <!-- customer price -->
          <li class="list-group-item text-start" *ngIf="userData.user.userType != 'BUSINESS'">
            <span class="text-primary">Price: </span> <span>{{p.price | number:'1.2-2' }}€</span>
          </li>

          <!-- business price -->
          <li class="list-group-item text-start" *ngIf="userData.user.userType == 'BUSINESS'">
            <span class="text-primary">Price: </span> <span>{{ (p.price * 0.78) | number:'1.2-2' }}€</span>
          </li>

        </ul>
        <div class="card-body">
          <a (click)="addToCart($event, p.id)" class="card-link btn btn-secondary">Add to cart</a>
        </div>
      </div>

    </div>
  </div>
