.product-image {
  width: 238px;
  height: 238px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card {
  transition: 0.5s;

  &:hover {
    transform: scale(1.04);
  }

}

@keyframes moveUpDown {
  0%,
  100% {
    top: 90%;
  }
  50% {
    top: 70%;
  }
}

.wish{
  font-size: 2rem;
  right: 5px;
  top: 5px;
}
